<div  ng-controller="ordersController" >
	<h1>所有訂單</h1>

	<table class="order-table">
		<thead>
			<tr>
				<th class="center" style="width:5%">編號</th>
				<th class="center" style="width:12%">訂購人</th>
				<th class="center" style="width:26%">品項</th>
				<th class="center" style="width:12%">下訂時間</th>
				<th class="center" style="width:25%">說明</th>
				<th class="center" style="width:10%">狀態</th>
				<th class="center" style="width:10%">修改</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="each_order in orders_list">
				<td>{{each_order.id}}</td>
				<td>{{each_order.customer}}</td>
				<td><a href="/products/{{each_order.product_id}}">{{search_product(each_order.product_id)}}</a></td>
				<td><p>{{each_order.created_at.substring(0,10)}}</p><p style="line-height: 5px">{{each_order.created_at.substring(11,19)}}</p></td>
				<td>{{each_order.description}}</td>
				<td>{{each_order.status}}</td>
				<td><p>修改</p><p style="line-height: 5px">取消 | 已處理</p></td>
			</tr>
		</tbody>
	</table>
</div>