<div ng-controller="ordersController as ordersCtrl">
	<h1>所有訂單</h1>

	<table class="order-table">
		<thead>
			<tr>
				<th class="center" style="width:5%">編號</th>
				<th class="center" style="width:12%">訂購人</th>
				<th class="center" style="width:26%">品項</th>
				<th class="center" style="width:12%">下訂時間</th>
				<th class="center" style="width:25%">說明</th>
				<th class="center" style="width:10%">狀態</th>
				<th class="center" style="width:10%">修改</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
	{{ordersCtrl.orders}}
</div>