// Place all the styles related to the admin::orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-table {
	width: 100%;
}

.order-table tr, .order-table th, .order-table td {
	border: 1px black solid;
	text-align: center;
}

.order-table td {
	height: 50px;
}

.center {
	text-align: center;
	font-size: 16px;	
}