/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

p {
	font-size: 16px;
}

.container {
	margin-top: 50px;
}

.thumb {
	max-width: 150px;
	max-height: 150px;
}

.show-thumb {
	max-width: 250px;
	max-height: 250px;
}

.margin-top-30 {
	margin-top: 30px;
}

.product-col {

	height: 250px;
	text-align: center;
}

.product-title {
	padding-top: 20px;
	font-size: 18px;
}

.font-16 {
	font-size: 16px;
}

.divider-30 {
	height: 30px;
}

.divider-20 {
	height: 20px;	
}

.search {
	font-size: 16px;
}

input.ng-invalid.ng-dirty {
     background-color: #F8E0E0;
}
input.ng-valid.ng-dirty {
     background-color: #E0F8F1;
}